label{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 18px;
  color: darkred;
}
input{
  border-radius: 4px;
  padding: 5px;
  width: 300px;
}

.tbl {
  border-style: solid;
  border-radius: 4px;
}
.btn{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 14px;
  color: darkred;
  border-style: solid;
  border-radius: 4px;
  padding: 5px;
  width: 312px;
}


